# PyCity Schools Analysis

- Your analysis here
  
---

In [18]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [49]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
print("Total School:", school_count)

Total School: 15

In [50]:
# Calculate the total number of students
student_count = len(school_data_complete)
print("Total Students:", student_count)

Total Students: 39170

In [51]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print("Total Budget:", total_budget)

Total Budget: 24649428

In [52]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
formatted_math_score = "{:.2f}%".format(average_math_score)
print("Average Math Score:", formatted_math_score)

Average Math Score: 78.99%

In [53]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
formatted_reading_score = "{:.2f}%".format(average_reading_score)
print("Average Reading Score:", formatted_reading_score)

Average Reading Score: 81.88%

In [57]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

formatted_Passing_math_percentage = "{:.2f}%".format(passing_math_percentage)

print("Percentage of Passing Math:", formatted_Passing_math_percentage)

Percentage of Passing Math: 74.98%

In [58]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  

passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
student_count = len(school_data_complete)
passing_reading_percentage = passing_reading_count / float(student_count) * 100

formatted_Passing_reading_percentage = "{:.2f}%".format(passing_reading_percentage)

print("Percentage of Passing Reading:", formatted_Passing_reading_percentage)

Percentage of Passing Reading: 85.81%

In [59]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

formatted_overall_passing_rate = "{:.2f}%".format(overall_passing_rate)

print("Overall Passing Rate:", formatted_overall_passing_rate)

Overall Passing Rate: 65.17%

In [80]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)

# formatted_average_math_score = "{:.2f}%".format(average_math_score)
# formatted_average_reading_score = "{:.2f}%".format(average_reading_score)
# formatted_passing_math_percentage = "{:.2f}%".format(passing_math_percentage)
# formatted_passing_reading_percentage = "{:.2f}%".format(passing_reading_percentage)
# formatted_overall_passing_rate = "{:.2f}%".format(overall_passing_rate)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

## School Summary

In [28]:
# Use the code provided to select all of the school types
school_types = school_data['type'].value_counts()
school_types

type
Charter     8
District    7
Name: count, dtype: int64

In [81]:
# # Calculate the total student count per school
# per_school_counts = school_data_complete.groupby('school_name')['Student ID'].count()
# per_school_counts

per_school_counts_df = per_school_counts.reset_index(name='student count')
print(per_school_counts_df)

              school_name  student count
0      Bailey High School           4976
1     Cabrera High School           1858
2    Figueroa High School           2949
3        Ford High School           2739
4     Griffin High School           1468
5   Hernandez High School           4635
6      Holden High School            427
7       Huang High School           2917
8     Johnson High School           4761
9        Pena High School            962
10  Rodriguez High School           3999
11    Shelton High School           1761
12     Thomas High School           1635
13     Wilson High School           2283
14     Wright High School           1800

In [30]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.set_index('school_name')['budget']
per_school_capita = per_school_budget / per_school_counts

budget_df = pd.DataFrame({
    'per_school_budget': per_school_budget,
    'per_school_capita': per_school_capita
})

print(budget_df)

                       per_school_budget  per_school_capita
school_name
Bailey High School               3124928              628.0
Cabrera High School              1081356              582.0
Figueroa High School             1884411              639.0
Ford High School                 1763916              644.0
Griffin High School               917500              625.0
Hernandez High School            3022020              652.0
Holden High School                248087              581.0
Huang High School                1910635              655.0
Johnson High School              3094650              650.0
Pena High School                  585858              609.0
Rodriguez High School            2547363              637.0
Shelton High School              1056600              600.0
Thomas High School               1043130              638.0
Wilson High School               1319574              578.0
Wright High School               1049400              583.0

In [31]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

average_test_per_school = pd.DataFrame({
    'per_school_math': per_school_math,
    'per_school_reading': per_school_reading
})

styled_df = average_test_per_school.style.format({
    'per_school_math': '{:.2f}%',
    'per_school_reading': '{:.2f}%'
})
styled_df

In [32]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby('school_name')['Student ID'].count()

school_students_passing_math_df = school_students_passing_math.reset_index(name='Students Passing Math')

(school_students_passing_math_df).head()

            school_name  Students Passing Math
0    Bailey High School                   3318
1   Cabrera High School                   1749
2  Figueroa High School                   1946
3      Ford High School                   1871
4   Griffin High School                   1371

In [33]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
school_students_passing_reading = students_passing_math.groupby('school_name')['Student ID'].count()

school_students_passing_reading_df = school_students_passing_reading.reset_index(name='Students Passing reading')

(school_students_passing_reading_df).head()

            school_name  Students Passing reading
0    Bailey High School                      3318
1   Cabrera High School                      1749
2  Figueroa High School                      1946
3      Ford High School                      1871
4   Griffin High School                      1371

In [34]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [35]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [84]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    'per_school_passing_math': per_school_passing_math,
    'per_school_passing_reading': per_school_passing_reading,
    'overall_passing_rate': overall_passing_rate,
})

# Formatting
per_school_summary['per_school_passing_math'] = per_school_summary['per_school_passing_math'].map("{:.2f}%".format)
per_school_summary['per_school_passing_reading'] = per_school_summary['per_school_passing_reading'].map("{:.2f}%".format)
per_school_summary['overall_passing_rate'] = per_school_summary['overall_passing_rate'].map("{:.2f}%".format)

# Display the DataFrame
per_school_summary

,per_school_passing_math,per_school_passing_reading,overall_passing_rate
school_name,,,
Bailey High School,66.68%,66.68%,65.17%
Cabrera High School,94.13%,94.13%,65.17%
Figueroa High School,65.99%,65.99%,65.17%
Ford High School,68.31%,68.31%,65.17%
Griffin High School,93.39%,93.39%,65.17%
Hernandez High School,66.75%,66.75%,65.17%
Holden High School,92.51%,92.51%,65.17%
Huang High School,65.68%,65.68%,65.17%
Johnson High School,66.06%,66.06%,65.17%
Pena High School,94.59%,94.59%,65.17%
Rodriguez High School,66.37%,66.37%,65.17%
Shelton High School,93.87%,93.87%,65.17%
Thomas High School,93.27%,93.27%,65.17%
Wilson High School,93.87%,93.87%,65.17%
Wright High School,93.33%,93.33%,65.17%

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary