# PyCity Schools Analysis

- Your analysis here
  
---

In [36]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [37]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
print("Total School:", school_count)

Total School: 15

In [38]:
# Calculate the total number of students
student_count = len(school_data_complete)
print("Total Students:", student_count)

Total Students: 39170

In [39]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print("Total Budget:", total_budget)

Total Budget: 24649428

In [40]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
formatted_math_score = "{:.2f}%".format(average_math_score)
print("Average Math Score:", formatted_math_score)

Average Math Score: 78.99%

In [41]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
formatted_reading_score = "{:.2f}%".format(average_reading_score)
print("Average Reading Score:", formatted_reading_score)

Average Reading Score: 81.88%

In [42]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

formatted_Passing_math_percentage = "{:.2f}%".format(passing_math_percentage)

print("Percentage of Passing Math:", formatted_Passing_math_percentage)

Percentage of Passing Math: 74.98%

In [43]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  

passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
student_count = len(school_data_complete)
passing_reading_percentage = passing_reading_count / float(student_count) * 100

formatted_Passing_reading_percentage = "{:.2f}%".format(passing_reading_percentage)

print("Percentage of Passing Reading:", formatted_Passing_reading_percentage)

Percentage of Passing Reading: 85.81%

In [44]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

formatted_overall_passing_rate = "{:.2f}%".format(overall_passing_rate)

print("Overall Passing Rate:", formatted_overall_passing_rate)

Overall Passing Rate: 65.17%

In [45]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)

# formatted_average_math_score = "{:.2f}%".format(average_math_score)
# formatted_average_reading_score = "{:.2f}%".format(average_reading_score)
# formatted_passing_math_percentage = "{:.2f}%".format(passing_math_percentage)
# formatted_passing_reading_percentage = "{:.2f}%".format(passing_reading_percentage)
# formatted_overall_passing_rate = "{:.2f}%".format(overall_passing_rate)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

## School Summary

In [46]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [47]:
# # Calculate the total student count per school
per_school_student_counts = school_data_complete.groupby('school_name')['Student ID'].count()
# per_school_counts

per_school_student_counts_df = per_school_student_counts.reset_index(name='total student count')
print(per_school_student_counts_df)

              school_name  total student count
0      Bailey High School                 4976
1     Cabrera High School                 1858
2    Figueroa High School                 2949
3        Ford High School                 2739
4     Griffin High School                 1468
5   Hernandez High School                 4635
6      Holden High School                  427
7       Huang High School                 2917
8     Johnson High School                 4761
9        Pena High School                  962
10  Rodriguez High School                 3999
11    Shelton High School                 1761
12     Thomas High School                 1635
13     Wilson High School                 2283
14     Wright High School                 1800

In [48]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.set_index('school_name')['budget']
per_school_capita = per_school_budget / per_school_student_counts

budget_df = pd.DataFrame({
    'per_school_budget': per_school_budget,
    'per_school_capita': per_school_capita
})

print(budget_df)

                       per_school_budget  per_school_capita
school_name
Bailey High School               3124928              628.0
Cabrera High School              1081356              582.0
Figueroa High School             1884411              639.0
Ford High School                 1763916              644.0
Griffin High School               917500              625.0
Hernandez High School            3022020              652.0
Holden High School                248087              581.0
Huang High School                1910635              655.0
Johnson High School              3094650              650.0
Pena High School                  585858              609.0
Rodriguez High School            2547363              637.0
Shelton High School              1056600              600.0
Thomas High School               1043130              638.0
Wilson High School               1319574              578.0
Wright High School               1049400              583.0

In [49]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

average_test_per_school = pd.DataFrame({
    'per_school_math': per_school_math,
    'per_school_reading': per_school_reading
})

styled_df = average_test_per_school.style.format({
    'per_school_math': '{:.2f}%',
    'per_school_reading': '{:.2f}%'
})
styled_df

In [50]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby('school_name')['Student ID'].count()

school_students_passing_math_df = school_students_passing_math.reset_index(name='Students Passing Math')

(school_students_passing_math_df).head()

            school_name  Students Passing Math
0    Bailey High School                   3318
1   Cabrera High School                   1749
2  Figueroa High School                   1946
3      Ford High School                   1871
4   Griffin High School                   1371

In [51]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
school_students_passing_reading = students_passing_reading.groupby('school_name')['Student ID'].count()

school_students_passing_reading_df = school_students_passing_reading.reset_index(name='Students Passing reading')

(school_students_passing_reading_df).head()

            school_name  Students Passing reading
0    Bailey High School                      4077
1   Cabrera High School                      1803
2  Figueroa High School                      2381
3      Ford High School                      2172
4   Griffin High School                      1426

In [52]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [53]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_student_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_student_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_student_counts * 100

In [54]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    'school_types': school_types,
    'per_school_student_counts': per_school_student_counts,
    'per_school_budget': per_school_budget,
    'per_school_capita': per_school_capita,
    'per_school_math': per_school_math,
    'per_school_reading': per_school_reading,
    'per_school_passing_math': per_school_passing_math,
    'per_school_passing_reading': per_school_passing_reading,
    'overall_passing_rate': overall_passing_rate,
})

# Display the DataFrame
per_school_summary.head()

,school_types,per_school_student_counts,per_school_budget,per_school_capita,per_school_math,per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

## Highest-Performing Schools (by % Overall Passing)

In [55]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by="overall_passing_rate", ascending=False)
top_schools.head(5)

,school_types,per_school_student_counts,per_school_budget,per_school_capita,per_school_math,per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [56]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by="overall_passing_rate", ascending=True)
bottom_schools.head(5)

,school_types,per_school_student_counts,per_school_budget,per_school_capita,per_school_math,per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [57]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# # Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

math_scores_by_grade['9th'] = math_scores_by_grade['9th'].map("{:.2f}%".format)
math_scores_by_grade['10th'] = math_scores_by_grade['10th'].map("{:.2f}%".format)
math_scores_by_grade['11th'] = math_scores_by_grade['11th'].map("{:.2f}%".format)
math_scores_by_grade['12th'] = math_scores_by_grade['12th'].map("{:.2f}%".format)

# # Display the DataFrame
math_scores_by_grade.head()

                         9th    10th    11th    12th
Bailey High School    77.08%  77.00%  77.52%  76.49%
Cabrera High School   83.09%  83.15%  82.77%  83.28%
Figueroa High School  76.40%  76.54%  76.88%  77.15%
Ford High School      77.36%  77.67%  76.92%  76.18%
Griffin High School   82.04%  84.23%  83.84%  83.36%

## Reading Score by Grade

In [58]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_reading_scores,
               "10th": tenth_grade_reading_scores,
               "11th": eleventh_grade_reading_scores,
               "12th": twelfth_grade_reading_scores})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

reading_scores_by_grade['9th'] = reading_scores_by_grade['9th'].map("{:.2f}%".format)
reading_scores_by_grade['10th'] = reading_scores_by_grade['10th'].map("{:.2f}%".format)
reading_scores_by_grade['11th'] = reading_scores_by_grade['11th'].map("{:.2f}%".format)
reading_scores_by_grade['12th'] = reading_scores_by_grade['12th'].map("{:.2f}%".format)

# Display the DataFrame
reading_scores_by_grade.head()

                         9th    10th    11th    12th
Bailey High School    81.30%  80.91%  80.95%  80.91%
Cabrera High School   83.68%  84.25%  83.79%  84.29%
Figueroa High School  81.20%  81.41%  80.64%  81.38%
Ford High School      80.63%  81.26%  80.40%  80.66%
Griffin High School   83.37%  83.71%  84.29%  84.01%

## Scores by School Spending

In [59]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [60]:
school_spending_df = per_school_summary.copy()

In [61]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df.head()

,school_types,per_school_student_counts,per_school_budget,per_school_capita,per_school_math,per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630

In [62]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["per_school_math"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["per_school_reading"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["per_school_passing_math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["per_school_passing_reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["overall_passing_rate"].mean()

In [63]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [64]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [65]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["per_school_student_counts"], size_bins, labels=labels)
per_school_summary

,school_types,per_school_student_counts,per_school_budget,per_school_capita,per_school_math,per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [66]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["per_school_math"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["per_school_reading"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["per_school_passing_math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["per_school_passing_reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["overall_passing_rate"].mean()

In [68]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "per_school_math": size_math_scores,
    "per_school_reading": size_reading_scores,
    "per_school_passing_math": size_passing_math,
    "per_school_passing_reading": size_passing_reading,
    "overall_passing_rate": size_overall_passing
})
# Display results
size_summary

,per_school_math,per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [71]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["school_types"])["per_school_math"].mean()
average_reading_score_by_type = per_school_summary.groupby(["school_types"])["per_school_reading"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["school_types"])["per_school_passing_math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["school_types"])["per_school_passing_reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["school_types"])["overall_passing_rate"].mean()

In [72]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "per_school_math": average_math_score_by_type,
    "per_school_reading": average_reading_score_by_type,
    "per_school_passing_math": average_percent_passing_math_by_type,
    "per_school_passing_reading": average_percent_passing_reading_by_type,
    "overall_passing_rate": average_percent_overall_passing_by_type
})

# Display results
type_summary

,per_school_math,per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate
school_types,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208